<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkWCQjWq_20zLjO-umdIFH05chJb7WPMU</string>
	<key>GCM_SENDER_ID</key>
	<string>133143050339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renadelsafi.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-dd30e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-dd30e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:133143050339:ios:1414d45c8172d0717e6056</string>
</dict>
</plist>
